<div class="page-header">
    <h2>Javascript components demonstration</h2>
</div>

<h5>carousel</h5>

<!--<div class="carousel">-->
    <!--<a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>-->
    <!--<a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>-->
    <!--<a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>-->
    <!--<a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>-->
    <!--<a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>-->
<!--</div>-->

<!--<div class="carousel carousel-slider">-->
    <!--<a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>-->
    <!--<a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>-->
    <!--<a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>-->
    <!--<a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>-->
<!--</div>-->