.brand-logo, .breadcrumb{
    margin-left: 1em;
    margin-right: 1em;
}
mat-button a{
    color: #ffffff;
}
mat-button.btn-flat a{
    color: #000000;
}
.bottom-spacer{
    display: block;
    height:300px;
}
.spacer{
    display: block;
    height:24px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}