<div class="page-header">
    <h2>Simple components demonstration</h2>
</div>
<h5>Socket.io provides a service that allow two way communication to the server and display data through custome directives-components</h5>

<h5>Badges:</h5>
<mat-badges ng-repeat="item in server_package.list">{{item}}<span class="badge">{{$index+1}}</span></mat-badges>

<h5>Buttons:</h5>

    <mat-raised-button element="default_templates.raised_button">Raised button</mat-raised-button>
    <mat-fab-button element="default_templates.fab_button"><i class="material-icons">android</i></mat-fab-button>
    <mat-flat-button element="default_templates.flat_button">Flat button</mat-flat-button>
    <mat-send-button element="default_templates.send_button">Submit<i class="material-icons right">send</i></mat-send-button>
    <mat-grande-button element="default_templates.grande_button">Grande button</mat-grande-button>

<h5>Chips</h5>
<mat-chip ng-repeat="item in server_package.enum" color="server_package.colors[$index+2]">{{item}}</mat-chip>

<h5>Icons</h5>
<mat-icons ng-repeat="icon in server_package.icons" color="server_package.colors[$index]">{{icon}}</mat-icons>

<h5>Preloaders</h5>
    <mat-progressbar element="default_templates.progress" content="loading.progress;"></mat-progressbar>
    <mat-progressbar-idle element="default_templates.progress"></mat-progressbar-idle>
    <mat-circle-spinner element="{color:'indigo'}"></mat-circle-spinner>


<h5>Images</h5>
<mat-img element="{src:'https://images.unsplash.com/photo-1518065336951-d16c043900d6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05f800ba4e6c18a40a8f7cf12cdd2c35&auto=format&fit=crop&w=1268&q=80'}"></mat-img>

<mat-img-boxed element="{src:'https://images.unsplash.com/photo-1518065336951-d16c043900d6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05f800ba4e6c18a40a8f7cf12cdd2c35&auto=format&fit=crop&w=1268&q=80'}"></mat-img-boxed>

<!--
    observations : too many {{expressions}} cause slow networking, for efficiency purpose it would be better to use one
    attribute per directives :
    fixed : now every mat-... directives have a single attribute  element="" whoa accept a single object and spread its properties where its needed
-->

