<div class="page-header">
    <h2>Complex components demonstration</h2>
</div>

<h5>Floating action buttons</h5>
    <!--its important to add extra '' insides non-objects properties otherwise it wont work, functions inside objects properties need() at the end of its name otherwise it wont work-->
    <div style="position: relative; height: 70px;">
        <mat-horizontal-fab-bar element="default_templates.fab_button" content="server_package.fab"></mat-horizontal-fab-bar>
    </div>

    <div style="position: relative; height: 70px;">
        <mat-horizontal-toggle-fab-bar element="default_templates.fab_button" content="server_package.fab"></mat-horizontal-toggle-fab-bar>
    </div>

<h5>Breadcrumbs</h5>
    <mat-breadcrumbs element="default_templates.breadcrumbs" content="server_package.enum"></mat-breadcrumbs>

<h5>Cards</h5>

    <mat-card element="default_templates.cardbasic"></mat-card>

    <mat-card-image element="default_templates.cardimage"></mat-card-image>

    <mat-card-image-fab element="default_templates.cardimagefab"></mat-card-image-fab>

    <mat-horizontal-card element="default_templates.cardhorizontal"></mat-horizontal-card>

    <mat-card-reveal element="default_templates.cardreveal"></mat-card-reveal>

<h5>Collections</h5>
    <mat-collection element="default_templates.collection" content="server_package.collection"></mat-collection>
    <mat-collection-basic element="default_templates.collection" content="server_package.collection"></mat-collection-basic>


<h5>Forms</h5>
    <mat-form-container>
        <div class="row">
            <mat-form-input element="server_package.form.firstname" content="form_cache.firstname"></mat-form-input>
            <mat-form-input element="server_package.form.lastname" content="form_cache.lastname"></mat-form-input>
        </div>
        <div class="row">
            <mat-form-input element="server_package.form.email" content="form_cache.email"></mat-form-input>
            <mat-form-input element="server_package.form.username" content="form_cache.username"></mat-form-input>
            <mat-form-input element="server_package.form.password" content="form_cache.password"></mat-form-input>
            <mat-button ng-click="sendFormData(form_cache)" class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i></mat-button>
        </div>
    </mat-form-container>

<h5>Navbar</h5>
    <mat-navbar-right element="default_templates.navbar" content="server_package.nav"></mat-navbar-right>
        <div class="spacer"></div>

    <mat-navbar-left element="default_templates.navbar" content="server_package.nav"></mat-navbar-left>
        <div class="spacer"></div>

    <mat-navbar-center element="default_templates.navbar" content="server_package.nav"></mat-navbar-center>
        <div class="spacer"></div>

    <mat-navbar-dropdown element="default_templates.navbar" content="server_package.nav.data">
        <mat-routed-dropdown-list element="server_package.dropdown"></mat-routed-dropdown-list>
        <mat-dropdown-divider></mat-dropdown-divider>
        <mat-linked-dropdown-list element="server_package.dropdown"></mat-linked-dropdown-list>
    </mat-navbar-dropdown>
        <div class="spacer"></div>

    <mat-searchbar element="default_templates.searchbar"></mat-searchbar>

        <div class="spacer"></div>

<h5>Pagination</h5>
    <mat-pagination element="default_templates.pagination" content="server_package.pages"></mat-pagination>

<h5>Footer</h5>





