<div class="page-header">
    <h2>Generate your own UI</h2>
</div>


<div class="row">
        <div class="col s6">
            <ul class="collection">
                <mat-collection-item ng-repeat="item in template_list" ng-click="formUiSelect($index)">{{item}}</mat-collection-item>
            </ul>
        </div>
    <div class="col s6">

        <mat-form-container>
            <div class="row">
                <mat-form-input ng-repeat="inputitem in form_template" element="inputitem" content="inputitem.value"> </mat-form-input>
            </div>

            </div>
                <mat-button ng-click="sendFormData(form_model,form_template)" class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i></mat-button>
            </div>
        </mat-form-container>

    </div>
</div>



<!--form-->
<!--card-->

<mat-card-image ng-repeat="item in page_content" element="item"></mat-card-image>
